DB_HOST=localhost
DB_PORT=put_your_db_port_here
DB_NAME=put_your_db_name_here
DB_USER=put_your_db_user_here
DB_PASSWORD=put_your_db_password_here
ANCHOR_PRIVATE_KEY=put_your_anchor_private_key_here
POLYGON_RPC=put_your_polygon_rpc_here
ADMIN_KEY=put_your_admin_key_here